<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <a routerLink="">
        <i class="fab fa-angrycreative text-dark  p-2 mr-2" style="font-size:60px ;"></i>
    </a>
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <a *ngIf="!isLoged" class="badge badge-danger ml-1">Login</a>
        <i *ngIf="isLoged" class="fas fa-shopping-cart text-danger mx-8 mt-1" style="font-size:25px ;"></i>
    </button>
    <form class="form-inline col-md-6 p-0  col-12 my-2 my-lg-0">
        <input class="form-control col-sm-10 col  " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning m-0 my-sm-0 " type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pb-2 px-sm-0 p-3">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="d-lg-none">
                <a *ngIf="!isLoged" class="btn btn-warning  d-lg-none" routerLink="/login" style="width: 100%;"
                    data-toggle="collapse" data-target="#navbarSupportedContent" type="button">Login</a>
                <a *ngIf="isLoged" class="btn btn-warning  d-lg-none" routerLink="/login" style="width: 100%;"
                    data-toggle="collapse" data-target="#navbarSupportedContent" type="button" style="font-size:15px ;">
                    <i class="fas fa-shopping-cart text-dark mx-8 mt-1"></i>
                    Cart(0)</a>
            </li>
            <li class="d-none d-lg-block ">
                <a *ngIf="!isLoged" class="d-none d-lg-block btn btn-warning" routerLink="/login" style="width: 100%;"
                    type="button">Login</a>
                <a *ngIf="isLoged" class="btn btn-warning  d-none d-lg-block" routerLink="/login" style="width: 100%;"
                    type="button" style="font-size:15px ;">
                    <i class="fas fa-shopping-cart text-dark mx-8 mt-1"></i>
                    Cart(0)</a>
            </li>
        </ul>
    </div>
</nav>

<div class="nav-scroller navbar-dark  bg-dark">
    <nav class="nav d-flex align-items-center">
        <div *ngFor="let icon of navScrollitems let i = index" (click)="navScrollClick(i)" class="px-3 mx-sm-0"
            [ngClass]="icon.active ? 'scroll-active': ''" style="width: 100px;">
            <i class="fas text-white mx-6 mt-1" class={{icon.icon}} style="font-size:20px ;"></i>
            <small class="form-text m-0">{{icon.name}}</small>
        </div>
    </nav>
</div>