<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="">
        <i class="fab fa-angrycreative btn-warning p-2 mr-2" style="font-size:30px ;"></i>

    </a>
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline col-md-6  col-12 my-2 my-lg-0">
        <input class="form-control col-sm-10 col-9 mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning my-2 my-sm-0 " type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="d-lg-none">
                <a class="btn btn-warning  d-lg-none" routerLink="/login" style="width: 100%;" data-toggle="collapse"
                    data-target="#navbarSupportedContent" type="button">Login</a>
            </li>

            <li class="d-none d-lg-block">
                <a class="d-none d-lg-block btn btn-warning" routerLink="/login" style="width: 100%;"
                    type="button">Login</a>
            </li>

        </ul>

    </div>
</nav>

<div class="nav-scroller navbar-dark  bg-dark">
    <nav class="nav d-flex align-items-center">

        <div class="mx-2">
            <i class="fas fa-shopping-cart text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Grocery</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-mobile-alt text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Mobile</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-book text-white mx-6 mt-1 " style="font-size:20px ;"></i>
            <small class="form-text m-0">Book</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-male text-white mx-6 mt-1 " style="font-size:20px ;"></i>
            <small class="form-text m-0">Mens</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-female text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Women</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-headphones-alt text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Headphones</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-tv text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Telivision</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-hamburger text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Fast Food</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-car text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">cars</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-fish text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Fish</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-motorcycle text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Motorcycle</small>
        </div>
        <div class="mx-2">
            <i class="fas fa-baseball-ball text-white mx-6 mt-1" style="font-size:20px ;"></i>
            <small class="form-text m-0">Sports</small>
        </div>


    </nav>
</div>