<form class="form-signin text-centre mt-5" [formGroup]="loginform">

    <div class="d-flex justify-content-center">
        <i class="fab fa-angrycreative btn-warning p-2 mr-2" style="font-size:80px ;"></i>

    </div>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input formControlName="email" type="email" id="inputEmail" class="form-control"
        [ngClass]=" !loginform.get('email').valid && loginform.get('email').touched   ? 'is-invalid': ''"
        placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input formControlName="password" type="password" id="inputPassword" class="form-control "
        [ngClass]=" !loginform.get('password').valid && loginform.get('password').touched   ? 'is-invalid': ''"
        placeholder="Password" required>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button *ngIf="!loading" [disabled]="!loginform.valid" class="btn btn-lg btn-warning btn-block" (click)="login()">
        LogIn</button>
    <button *ngIf="loading" class="btn btn-warning  btn-block" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>

    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>